@using MyWebCv.Models.Entity
@model List<Education_Table>

<div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    @foreach(var i in Model) {
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">@i.Header</h3>
            <div class="subheading mb-3">@i.SecondHeader</div>
            <div>@i.LastHeader</div>
            <p>GPA: @i.GNO</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@i.Date</span></div>
    </div>
    }
</div>
