@using MyWebCv.Models.Entity
@model List<About_Table>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<br />
<h4>Hakkımda Düzenleme Sayfası</h4>
<br />

<form method="post">
    @foreach (var a in Model)
    {
        <label>Ad</label>
        <input type="text" name="Name" value="@a.Name" class="form-control" />
        <br />
        <label>Soyad</label>
        <input type="text" name="Surname" value="@a.Surname" class="form-control" />
        <br />
        <label>Şehir</label>
        <input type="text" name="Adress" value="@a.Adress" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" name="Mail" value="@a.Mail" class="form-control" />
        <br />
        <label>Açıklama</label>
        <input type="text" name="Aciklama" value="@a.Aciklama" class="form-control" />
        <br />
        <label>Resim</label>
        <input type="text" name="Photo" value="@a.Photo" class="form-control" />
        <br />
    }
    <button class="btn btn-success">Güncelle</button>

</form>